/********************
GENERAL
********************/
body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  background-color: pink

/********************
TEXT
********************/
a
  color: inherit