@import url('https://fonts.googleapis.com/css?family=Exo+2')

*
  box-sizing: border-box

// Colors
tabBackgroundColor = #7cefaf
activeTabColor = #FFF3B0
backgroundColor = #76d2b7
tabDividerColor = #319477
newTabColor = #00e8a4
titleBarColor = #219a76

// Basic stuff
body
  font-family: 'Exo 2', 'Roboto', Helvetica, Arial, sans-serif
  background-color backgroundColor
  margin: 0
  height 100vh

// Hide scrollbars (not in webview)
::-webkit-scrollbar
    display: none

// Hide webview before it loads
.hide
  // visibility: hidden
  border: 1px solid red

// Full height
#root,
#root > div,
.react-tabs,
.react-tabs [role=tabpanel],
.react-tabs [role=tabpanel] .webview-wrapper > div
.react-tabs [role=tabpanel] .webview-wrapper > div > webview
  height: 100%

.react-tabs,
.react-tabs [role=tabpanel]
  display: flex
  
.react-tabs
  flex-direction: column

.webview-wrapper,
.webview-wrapper > div
  width: 100%

// Title bar
header
  min-height: 40px
  -webkit-user-select: none
  -webkit-app-region: drag
  background-color: tabDividerColor

// Tabs
.react-tabs [role=tablist] 
  margin 0
  border-bottom: 1px solid tabDividerColor
  padding: 0
  display: flex
  width: 100vw
  overflow: scroll

  // All tabs
  [role=tab] 
    display: flex
    align-items: center
    padding: 7px 10px

    cursor: pointer
    background-color: tabBackgroundColor
    flex-grow 1
    border-right: 1px solid tabDividerColor

    // Favicon
    .favicon 
      display: flex
      align-items: center

      img
        width 16px
        height 16px
        margin-right: 5px

    // Tab name
    > p
      margin 0
      text-align: center
      flex-grow 1
      white-space: nowrap
      overflow: hidden

    // Close button
    .close-button
      height: 10px
      margin-left: 10px

    // New tab
    &:last-child
      background-color: newTabColor
      flex-grow: 0

  // Currently selected tab
  [role=tab][aria-selected=true] 
    background: activeTabColor

// Webviews
.webview-wrapper
  font-size: 2em

  &,
  .webview-loading
    display: flex;
    justify-content: center;
    align-items: center;

  p
    margin: 0
    margin-right 10px

  img
    width: 30px
    height: 30px