@import url('https://fonts.googleapis.com/css?family=Exo+2')

// Colors
tabBackgroundColor = #7cefaf
activeTabColor = #FFF3B0
backgroundColor = #76d2b7
tabDividerColor = #319477
newTabColor = #00e8a4

// Basic stuff
body
  font-family: 'Exo 2', 'Roboto', Helvetica, Arial, sans-serif
  background-color backgroundColor
  margin: 0
  height 100vh

Full height
#root,
#root > div,
.react-tabs,
.react-tabs [role=tabpanel],
.react-tabs [role=tabpanel] > div,
.react-tabs [role=tabpanel] > div > webview
  height: 100%

// Title bar
header
  height: 22px
  -webkit-user-select: none
  -webkit-app-region: drag

  &.fullscreen
    height: 0

// Tabs
.react-tabs [role=tablist] 
  margin 0
  border-bottom: 1px solid tabDividerColor
  padding: 0
  display: flex
  overflow: scroll

  // All tabs
  [role=tab] 
    display: flex
    align-items: center
    padding: 5px 10px

    cursor: pointer
    background-color: tabBackgroundColor
    flex-grow 1
    border-right: 1px solid tabDividerColor

    // Favicon
    .favicon 
      display: flex
      align-items: center

      img
        width 16px
        height 16px
        margin-right: 5px

    // Tab name
    > p
      margin 0
      text-align: center
      flex-grow 1

    // New tab
    &:last-child
      background-color: newTabColor
      flex-grow: 0

  // Currently selected tab
  [role=tab][aria-selected=true] 
    background: activeTabColor

// Webviews
.webview-loading
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em

  > div
    display: flex
    align-items: center

    p
      margin-right 10px

    img
      width: 30px
      height: 30px