@import url('https://fonts.googleapis.com/css?family=Exo+2')

// Colors
tabBg = #7FB069
activeTab = #FFF3B0
background = #00A878

// Basic stuff
body
  font-family: 'Exo 2', 'Roboto', Helvetica, Arial, sans-serif
  background-color background
  margin: 0
  height 100vh

// Title bar
header
  height: 22px
  background-color: color2
  -webkit-user-select: none
  -webkit-app-region: drag

  &.fullscreen
    height: 0

// Tabs
.react-tabs [role=tablist] 
  margin: 0 0 10px
  padding: 0

  // All tabs
  [role=tab] 
    display: inline-block
    padding: 6px 12px
    cursor: pointer
    background-color: tabBg

  // Currently selected tab
  [role=tab][aria-selected=true] 
    background: activeTab

// Webviews
webview
  height 90vh